/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* My Styles */ 

body {
    background-color: black
}

h2 {
    color: purple;
    text-align: center
}
 
h1 {
    color: red;
    font-size: 2rem;
}

header {
    float: right;
}

li {
    color: white; 
    text-align: right;
    
}

.luffypng {
  border: 2rem;
  border-radius: 25px;
}

p {
  color: white
}

/* HEARTBEAT CSS Code */
.heart {
  animation: beat .25s infinite alternate;
  transform-origin: center;
  height: 50px;
  width: 50px;
}

@keyframes beat {
  to {transform: scale(1.4); }
}

/* HEARTBEAT ENDS */

.LuffyInfo {
  float: left;
  border-style: solid;
  border-color: aqua;
  width: 75%;
  height: 50px;
}

.appearanceHeader {
  float: right;
}
.LuffyInfo .p1 {
  float: left;
  width: 40%;
}
.monkeyd {
  float: right;
  width: 40%; 
}

.gomugomu {
  float: right;
  width: 40%
  height: 50px;
}


.LuffyMainInfo {
  
  box-shadow: 10px 10px 10px red;
  width: 100%;
}

h3 {
  color: aqua;
  font-size: 50px;
}
